<div class="login-container">
  <mat-card class="card-container">
    <mat-card-content class="card-content">
      <mat-card-header class="header">
        <h2>Welcome to login area</h2>
      </mat-card-header>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label for="name">Enter name</mat-label>
        <input matInput="name" type="text" placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label for="email">Enter email</mat-label>
        <input matInput id="email" type="text" placeholder="Email" />
      </mat-form-field>
      <button mat-raised-button color="primary" id="login" class="login-button">
        <span>Login</span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
